<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>留言板</title>
    </head>
    <body>
        <h1>留言板</h1>
        <ul>
            {% for message in messages %}
            <li>{{ message[0] }} ({{ message[1] }})</li>
            {% endfor %}
        </ul>
        <form method="POST">
            <label>留言: </label>
            <textarea name="message"></textarea>
            <br>
            <input type="submit">
        </form>
    </body>
</html>
