<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>留言板</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#colorpicker').change(function() {
                    $('li').css('color', $(this).val());
                });
            });
        </script>
    </head>
    <body>
        <h1>留言板</h1>
        <ul>
            {% for message in messages %}
            <li style="color:{{ message[2] }}">{{ message[0] }} ({{ message[1] }})</li>
            {% endfor %}
        </ul>
        <form method="POST">
            <label>留言: </label>
            <textarea name="message"></textarea>
            <br>
            <label>选择颜色: </label>
            <input type="color" id="colorpicker" name="colorpicker" value="#000000">
            <br>
            <input type="submit">
        </form>
    </body>
</html>
